<div class="">
  <%= image_tag "index_background.jpg"%>
  <%= image_tag "logo.png", height: 50 %>
</div>


<% @vins.each do |vin| %>
<%= vin.producteur %>
<%= vin.annee %>
<%= vin.parker %>
<%= vin.jrobinson %>
<%= vin.prix_btl %>
<% end %>
