<div class="header">
  <%= image_tag "index_background", width: "100%" %>
</div>
<div class="container">

  <div class="row ">

      <!-- <div class="block"> -->
    <% @vins.each do |vin| %>
    <%= link_to vin_path(vin) do %>
    <div class="col-xs-12 col-md-4  col-lg-4 ">

          <div class="card">
            <div class="card_image">
              <% if vin [:photo] == nil %>


              <p> <%="no picture" %></p>

              <% else %>
              <%= cl_image_tag vin.photo, width: 135, height: 193,crop: :fit %>
              <% end %>
            </div>
            <div class="card_text">
            <ul class="card_ul">

              <li class="card_li_producteur"><%= vin.producteur %></li>
              <li class="card_li_annee"><%= vin.annee %></li>
              <li class="card_li_notation">Parker: <%= vin.parker %> - J.Robinson:<%= vin.jrobinson %></li>
              <li class="card_li_price"><%= vin.prix_btl %> eur/btl</li>
              <li class="card_li_nb_btl_caisse">caisse de <%= vin.nb_btl_caisse %></li>

            </ul>
            </div>
          </div>

</div>
<% end %>
    <% end %>
  <!-- </div> -->

</div>
</div>
